asgiref
atomicwrites
attrs
blis
catalogue
certifi
charset-normalizer
click
colorama
cymem
Django
docopt
exceptiongroup
hypothesis
idna
iniconfig
Jinja2
langcodes
MarkupSafe
murmurhash
numpy
packaging
pathy==0.6.2
pipreqs
pluggy
preshed
py
pydantic
pyparsing
pytest
requests
smart-open
sortedcontainers
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
thinc
tomli
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
yarg
